openapi: 3.0.3
info:
  description: People Data Labs API
  title: api.peopledatalabs.com Autocomplete Company Endpoints API
  version: '5.0'
servers:
- url: https://api.peopledatalabs.com
tags:
- name: Company Endpoints
paths:
  /v5/company/enrich:
    get:
      security:
      - APIKeyHeader: []
      parameters:
      - name: Content-Type
        in: header
        description: The content type
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: pdl_id
        in: query
        description: The PDL ID of the company to enrich.
        schema:
          type: string
      - name: name
        in: query
        description: The name of the company.
        schema:
          type: string
      - name: profile
        in: query
        description: A social profile of the company (linkedin/facebook/twitter/crunchbase).
        schema:
          type: string
      - name: ticker
        in: query
        description: The company's stock ticker, if publicly traded.
        schema:
          type: string
      - name: website
        in: query
        description: A website the company uses.
        schema:
          type: string
      - name: location
        in: query
        description: The location of the company's headquarters. This can be anything from a street address to a country name.
        schema:
          type: string
      - name: street_address
        in: query
        description: The company HQ's street address.
        schema:
          type: string
      - name: locality
        in: query
        description: The company HQ's locality. e.g. San Francisco
        schema:
          type: string
      - name: region
        in: query
        description: The company HQ's region. e.g. California
        schema:
          type: string
      - name: country
        in: query
        description: The company HQ's country.
        schema:
          type: string
      - name: postal_code
        in: query
        description: The company HQ's postal code.
        schema:
          type: string
      - name: pretty
        in: query
        description: Whether the output should have human-readable indentation.
        schema:
          type: boolean
          default: false
      - name: titlecase
        in: query
        description: All text in API responses returns as lowercase by default. Setting titlecase to true will titlecase response data instead.
        schema:
          type: boolean
          default: false
      - name: include_if_matched
        in: query
        description: If true, the response will include the top-level field matched that contains a list of every input that matched this profile.
        schema:
          type: boolean
          default: false
      - name: min_likelihood
        in: query
        description: The minimum likelihood score a response must possess in order to return a 200.
        schema:
          type: integer
          maximum: 10
          minimum: 0
          format: int32
          default: 2
      - name: required
        in: query
        description: The fields a response must have in order to count as a match.
        schema:
          type: string
          example: location AND (website OR linkedin_url)
      responses:
        '200':
          description: Company Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          description: Request contained either missing or invalid parameters
        '401':
          description: Request contained a missing or invalid key
        '402':
          description: You have reached your account maximum (all matches used)
        '404':
          description: No records were found matching your request
        '405':
          description: Request method is not allowed on the requested resource
        '429':
          description: An error occurred due to requests hitting the API too quickly
      summary: /company/enrich
      tags:
      - Company Endpoints
  /v5/company/search:
    get:
      security:
      - APIKeyHeader: []
      parameters:
      - name: Content-Type
        in: header
        description: The content type
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: query
        in: query
        description: An Elasticsearch (v7.7) query. See our underlying Elasticsearch mapping for reference.
        schema:
          type: string
      - name: sql
        in: query
        description: 'A SQL query of the format: SELECT * FROM company WHERE XXX, where XXX is a standard SQL boolean query involving PDL fields. Any use of column selections or the LIMIT keyword will be ignored.'
        schema:
          type: string
      - name: size
        in: query
        description: The number of matched records to return for this query if they exist*. Must be between 1 and 100
        schema:
          type: integer
          maximum: 100
          minimum: 1
          format: int32
          default: 1
      - name: from
        in: query
        description: An offset value for pagination. Can be a number between 0 and 9999. Pagination can be executed up to a maximum of 10,000 records per query. Be sure to use the "total" response field to help discover how many total records exist in the dataset for your query
        schema:
          type: integer
          maximum: 9999
          minimum: 0
          format: int32
          default: 0
      - name: scroll_token
        in: query
        description: Setting titlecase to true will titlecase any records returned
        schema:
          type: string
          example: 104$14.278746
      - name: titlecase
        in: query
        description: Setting titlecase to true will titlecase any records returned
        schema:
          type: boolean
          default: false
      - name: pretty
        in: query
        description: Whether the output should have human-readable indentation.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Company Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          description: Request contained either missing or invalid parameters
        '401':
          description: Request contained a missing or invalid key
        '402':
          description: You have reached your account maximum (all searches used)
        '404':
          description: Request didn't return any records.
        '405':
          description: Request method is not allowed on the requested resource
        '429':
          description: An error occurred due to requests hitting the API too quickly
      summary: /company/search
      tags:
      - Company Endpoints
    post:
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: An Elasticsearch (v7.7) query. See our underlying Elasticsearch mapping for reference
                  example: '{"query": {"term": {"industry": "computer software"}}}'
                sql:
                  type: string
                  description: 'A SQL query of the format: SELECT * FROM company WHERE XXX, where XXX is a standard SQL boolean query involving our company fields'
                  example: SELECT * FROM person WHERE industry ='computer software'
                size:
                  type: integer
                  description: The number of matched records to return for this query if they exist*. Must be between 1 and 100
                  maximum: 100
                  minimum: 1
                  format: int32
                  default: 1
                from:
                  type: integer
                  description: An offset value for pagination. Can be a number between 0 and 9999. Pagination can be executed up to a maximum of 10,000 records per query. Be sure to use the "total" response field to help discover how many total records exist in the dataset for your query
                  maximum: 9999
                  minimum: 0
                  format: int32
                  default: 0
                scroll_token:
                  type: string
                  description: Each search API response returns a scroll_token. Include it in the next request to fetch the next size matching records
                  example: 104$14.278746
                titlecase:
                  type: boolean
                  description: Setting titlecase to true will titlecase any records returned
                  default: false
                pretty:
                  type: boolean
                  description: Whether the output should have human-readable indentation
                  default: false
              oneOf:
              - required:
                - query
              - required:
                - sql
      responses:
        '200':
          description: Company Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          description: Request contained either missing or invalid parameters
        '401':
          description: Request contained a missing or invalid key
        '402':
          description: You have reached your account maximum (all searches used)
        '404':
          description: Request didn't return any records.
        '405':
          description: Request method is not allowed on the requested resource
        '429':
          description: An error occurred due to requests hitting the API too quickly
      summary: /company/search
      tags:
      - Company Endpoints
components:
  schemas:
    CompanyLocation:
      type: object
      properties:
        geo:
          type: string
          description: The company's current HQ city-level Geo
        street_address:
          type: string
          description: The company's current HQ street address
        address_line_2:
          type: string
          description: The company's current HQ address line 2
        continent:
          type: string
          enum:
          - africa
          - antarctica
          - asia
          - europe
          - north america
          - oceania
          - south america
          description: The company's current HQ continent
        locality:
          type: string
          description: The company's current HQ locality
        metro:
          type: string
          enum:
          - abilene, texas
          - akron, ohio
          - albany, georgia
          - albany, new york
          - albany, oregon
          - albuquerque, new mexico
          - alexandria, louisiana
          - allentown, pennsylvania
          - altoona, pennsylvania
          - amarillo, texas
          - ames, iowa
          - anchorage, alaska
          - ann arbor, michigan
          - anniston, alabama
          - appleton, wisconsin
          - asheville, north carolina
          - athens, georgia
          - atlanta, georgia
          - atlantic city, new jersey
          - auburn, alabama
          - augusta, georgia
          - austin, texas
          - bakersfield, california
          - baltimore, maryland
          - bangor, maine
          - barnstable town, massachusetts
          - baton rouge, louisiana
          - battle creek, michigan
          - bay city, michigan
          - beaumont, texas
          - bellingham, washington
          - billings, montana
          - binghamton, new york
          - birmingham, alabama
          - bismarck, north dakota
          - blacksburg, virginia
          - bloomington, illinois
          - bloomington, indiana
          - boise city, idaho
          - boston, massachusetts
          - boulder, colorado
          - bowling green, kentucky
          - bremerton, washington
          - bridgeport, connecticut
          - brownsville, texas
          - buffalo, new york
          - burlington, north carolina
          - burlington, vermont
          - canton, ohio
          - cape coral, florida
          - cape girardeau, missouri
          - carbondale, illinois
          - carson city, nevada
          - casper, wyoming
          - cedar rapids, iowa
          - champaign, illinois
          - charleston, south carolina
          - charleston, west virginia
          - charlotte, north carolina
          - charlottesville, virginia
          - chattanooga, tennessee
          - cheyenne, wyoming
          - chicago, illinois
          - chico, california
          - cincinnati, ohio
          - clarksville, tennessee
          - cleveland, ohio
          - cleveland, tennessee
          - coeur d'alene, idaho
          - college station, texas
          - colorado springs, colorado
          - columbia, missouri
          - columbia, south carolina
          - columbus, georgia
          - columbus, indiana
          - columbus, ohio
          - corpus christi, texas
          - corvallis, oregon
          - crestview, florida
          - cumberland, maryland
          - dallas, texas
          - dalton, georgia
          - danville, illinois
          - davenport, iowa
          - dayton, ohio
          - decatur, alabama
          - decatur, illinois
          - deltona, florida
          - denver, colorado
          - des moines, iowa
          - detroit, michigan
          - district of columbia
          - dothan, alabama
          - dover, delaware
          - dubuque, iowa
          - duluth, minnesota
          - durham, north carolina
          - eau claire, wisconsin
          - el centro, california
          - el paso, texas
          - elizabethtown, kentucky
          - elkhart, indiana
          - elmira, new york
          - enid, oklahoma
          - erie, pennsylvania
          - eugene, oregon
          - evansville, indiana
          - fairbanks, alaska
          - fargo, north dakota
          - farmington, new mexico
          - fayetteville, arkansas
          - fayetteville, north carolina
          - flagstaff, arizona
          - flint, michigan
          - florence, alabama
          - florence, south carolina
          - fond du lac, wisconsin
          - fort collins, colorado
          - fort smith, arkansas
          - fort wayne, indiana
          - fresno, california
          - gadsden, alabama
          - gainesville, florida
          - gainesville, georgia
          - goldsboro, north carolina
          - grand forks, north dakota
          - grand island, nebraska
          - grand junction, colorado
          - grand rapids, michigan
          - grants pass, oregon
          - great falls, montana
          - greeley, colorado
          - green bay, wisconsin
          - greensboro, north carolina
          - greenville, north carolina
          - greenville, south carolina
          - gulfport, mississippi
          - hagerstown, maryland
          - hanford, california
          - harrisburg, pennsylvania
          - harrisonburg, virginia
          - hartford, connecticut
          - hattiesburg, mississippi
          - hickory, north carolina
          - hilton head island, south carolina
          - hinesville, georgia
          - hot springs, arkansas
          - houma, louisiana
          - houston, texas
          - huntington, west virginia
          - huntsville, alabama
          - idaho falls, idaho
          - indianapolis, indiana
          - iowa city, iowa
          - ithaca, new york
          - jackson, michigan
          - jackson, mississippi
          - jackson, tennessee
          - jacksonville, florida
          - jacksonville, north carolina
          - janesville, wisconsin
          - jefferson city, missouri
          - johnson city, tennessee
          - johnstown, pennsylvania
          - jonesboro, arkansas
          - joplin, missouri
          - kahului, hawaii
          - kalamazoo, michigan
          - kankakee, illinois
          - kansas city, missouri
          - kennewick, washington
          - killeen, texas
          - kingsport, tennessee
          - kingston, new york
          - knoxville, tennessee
          - kokomo, indiana
          - la crosse, wisconsin
          - lafayette, indiana
          - lafayette, louisiana
          - lake charles, louisiana
          - lake havasu city, arizona
          - lakeland, florida
          - lancaster, pennsylvania
          - lansing, michigan
          - laredo, texas
          - las cruces, new mexico
          - las vegas, nevada
          - lawrence, kansas
          - lawton, oklahoma
          - lebanon, pennsylvania
          - lewiston, idaho
          - lewiston, maine
          - lexington, kentucky
          - lima, ohio
          - lincoln, nebraska
          - little rock, arkansas
          - logan, utah
          - longview, texas
          - longview, washington
          - los angeles, california
          - louisville, kentucky
          - lubbock, texas
          - lynchburg, virginia
          - macon, georgia
          - madera, california
          - madison, wisconsin
          - manchester, new hampshire
          - manhattan, kansas
          - mankato, minnesota
          - mansfield, ohio
          - mcallen, texas
          - medford, oregon
          - memphis, tennessee
          - merced, california
          - miami, florida
          - michigan city, indiana
          - midland, michigan
          - midland, texas
          - milwaukee, wisconsin
          - minneapolis, minnesota
          - missoula, montana
          - mobile, alabama
          - modesto, california
          - monroe, louisiana
          - monroe, michigan
          - montgomery, alabama
          - morgantown, west virginia
          - morristown, tennessee
          - mount vernon, washington
          - muncie, indiana
          - muskegon, michigan
          - myrtle beach, south carolina
          - napa, california
          - naples, florida
          - nashville, tennessee
          - new bern, north carolina
          - new haven, connecticut
          - new orleans, louisiana
          - new york, new york
          - north port, florida
          - norwich, connecticut
          - ocala, florida
          - odessa, texas
          - ogden, utah
          - oklahoma city, oklahoma
          - olympia, washington
          - omaha, nebraska
          - orlando, florida
          - oshkosh, wisconsin
          - owensboro, kentucky
          - oxnard, california
          - palm bay, florida
          - panama city, florida
          - parkersburg, west virginia
          - pensacola, florida
          - peoria, illinois
          - philadelphia, pennsylvania
          - phoenix, arizona
          - pine bluff, arkansas
          - pittsburgh, pennsylvania
          - pittsfield, massachusetts
          - pocatello, idaho
          - port st. lucie, florida
          - portland, maine
          - portland, oregon
          - poughkeepsie, new york
          - prescott valley, arizona
          - providence, rhode island
          - provo, utah
          - pueblo, colorado
          - punta gorda, florida
          - racine, wisconsin
          - raleigh, north carolina
          - rapid city, south dakota
          - reading, pennsylvania
          - redding, california
          - reno, nevada
          - richmond, virginia
          - riverside, california
          - roanoke, virginia
          - rochester, minnesota
          - rochester, new york
          - rockford, illinois
          - rocky mount, north carolina
          - rome, georgia
          - sacramento, california
          - saginaw, michigan
          - salem, oregon
          - salinas, california
          - salisbury, maryland
          - salt lake city, utah
          - san angelo, texas
          - san antonio, texas
          - san diego, california
          - san francisco, california
          - san jose, california
          - san luis obispo, california
          - santa cruz, california
          - santa fe, new mexico
          - santa maria, california
          - santa rosa, california
          - savannah, georgia
          - scranton, pennsylvania
          - seattle, washington
          - sebastian, florida
          - sheboygan, wisconsin
          - sherman, texas
          - shreveport, louisiana
          - sierra vista, arizona
          - sioux city, iowa
          - sioux falls, south dakota
          - south bend, indiana
          - spartanburg, south carolina
          - spokane, washington
          - springfield, illinois
          - springfield, massachusetts
          - springfield, missouri
          - springfield, ohio
          - st. cloud, minnesota
          - st. george, utah
          - st. joseph, missouri
          - st. louis, missouri
          - state college, pennsylvania
          - staunton, virginia
          - stockton, california
          - sumter, south carolina
          - syracuse, new york
          - tallahassee, florida
          - tampa, florida
          - terre haute, indiana
          - texarkana, texas
          - toledo, ohio
          - topeka, kansas
          - trenton, new jersey
          - tucson, arizona
          - tulsa, oklahoma
          - tuscaloosa, alabama
          - twin falls, idaho
          - tyler, texas
          - urban honolulu, hawaii
          - utica, new york
          - valdosta, georgia
          - vallejo, california
          - victoria, texas
          - vineland, new jersey
          - virginia beach, virginia
          - visalia, california
          - waco, texas
          - walla walla, washington
          - warner robins, georgia
          - waterloo, iowa
          - watertown, new york
          - wausau, wisconsin
          - weirton, west virginia
          - wenatchee, washington
          - wheeling, west virginia
          - wichita falls, texas
          - wichita, kansas
          - williamsport, pennsylvania
          - wilmington, north carolina
          - winchester, virginia
          - worcester, massachusetts
          - yakima, washington
          - york, pennsylvania
          - youngstown, ohio
          - yuba city, california
          - yuma, arizona
          description: The company's current HQ metro (US only)
        postal_code:
          type: string
          description: The company's current HQ postal code
        name:
          type: string
          description: The company's current HQ location name, generated from our canonical location data with the format locality, region, country
        country:
          type: string
          enum:
          - afghanistan
          - albania
          - algeria
          - american samoa
          - andorra
          - angola
          - anguilla
          - antarctica
          - antigua and barbuda
          - argentina
          - armenia
          - aruba
          - australia
          - austria
          - azerbaijan
          - bahamas
          - bahrain
          - bangladesh
          - barbados
          - belarus
          - belgium
          - belize
          - benin
          - bermuda
          - bhutan
          - bolivia
          - bosnia and herzegovina
          - botswana
          - bouvet island
          - brazil
          - british indian ocean territory
          - british virgin islands
          - brunei
          - bulgaria
          - burkina faso
          - burundi
          - cambodia
          - cameroon
          - canada
          - cape verde
          - caribbean netherlands
          - cayman islands
          - central african republic
          - chad
          - chile
          - china
          - christmas island
          - cocos (keeling) islands
          - colombia
          - comoros
          - cook islands
          - costa rica
          - croatia
          - cuba
          - curaçao
          - cyprus
          - czechia
          - democratic republic of the congo
          - denmark
          - djibouti
          - dominica
          - dominican republic
          - ecuador
          - egypt
          - el salvador
          - equatorial guinea
          - eritrea
          - estonia
          - ethiopia
          - falkland islands
          - faroe islands
          - fiji
          - finland
          - france
          - french guiana
          - french polynesia
          - french southern territories
          - gabon
          - gambia
          - georgia
          - germany
          - ghana
          - gibraltar
          - greece
          - greenland
          - grenada
          - guadeloupe
          - guam
          - guatemala
          - guernsey
          - guinea
          - guinea-bissau
          - guyana
          - haiti
          - heard island and mcdonald islands
          - honduras
          - hong kong
          - hungary
          - iceland
          - india
          - indonesia
          - iran
          - iraq
          - ireland
          - isle of man
          - israel
          - italy
          - ivory coast
          - jamaica
          - japan
          - jersey
          - jordan
          - kazakhstan
          - kenya
          - kiribati
          - kosovo
          - kuwait
          - kyrgyzstan
          - laos
          - latvia
          - lebanon
          - lesotho
          - liberia
          - libya
          - liechtenstein
          - lithuania
          - luxembourg
          - macau
          - macedonia
          - madagascar
          - malawi
          - malaysia
          - maldives
          - mali
          - malta
          - marshall islands
          - martinique
          - mauritania
          - mauritius
          - mayotte
          - mexico
          - micronesia
          - moldova
          - monaco
          - mongolia
          - montenegro
          - montserrat
          - morocco
          - mozambique
          - myanmar
          - namibia
          - nauru
          - nepal
          - netherlands
          - netherlands antilles
          - new caledonia
          - new zealand
          - nicaragua
          - niger
          - nigeria
          - niue
          - norfolk island
          - north korea
          - northern mariana islands
          - norway
          - oman
          - pakistan
          - palau
          - palestine
          - panama
          - papua new guinea
          - paraguay
          - peru
          - philippines
          - pitcairn
          - poland
          - portugal
          - puerto rico
          - qatar
          - republic of the congo
          - romania
          - russia
          - rwanda
          - réunion
          - saint barthélemy
          - saint helena
          - saint kitts and nevis
          - saint lucia
          - saint martin
          - saint pierre and miquelon
          - saint vincent and the grenadines
          - samoa
          - san marino
          - saudi arabia
          - senegal
          - serbia
          - seychelles
          - sierra leone
          - singapore
          - sint maarten
          - slovakia
          - slovenia
          - solomon islands
          - somalia
          - south africa
          - south georgia and the south sandwich islands
          - south korea
          - south sudan
          - spain
          - sri lanka
          - sudan
          - suriname
          - svalbard and jan mayen
          - swaziland
          - sweden
          - switzerland
          - syria
          - são tomé and príncipe
          - taiwan
          - tajikistan
          - tanzania
          - thailand
          - timor-leste
          - togo
          - tokelau
          - tonga
          - trinidad and tobago
          - tunisia
          - turkey
          - turkmenistan
          - turks and caicos islands
          - tuvalu
          - u.s. virgin islands
          - uganda
          - ukraine
          - united arab emirates
          - united kingdom
          - united states
          - united states minor outlying islands
          - uruguay
          - uzbekistan
          - vanuatu
          - vatican city
          - venezuela
          - vietnam
          - wallis and futuna
          - western sahara
          - yemen
          - zambia
          - zimbabwe
          - åland islands
          description: "The company's current HQ country\tunited states"
        region:
          type: string
          description: The company's current HQ region
    Company:
      type: object
      properties:
        affiliated_profiles:
          type: array
          description: A list of company IDs that PDL has flagged as being affiliated and having an association to this company (either parent or child)
          items:
            type: string
        alternative_names:
          type: array
          description: The list of names associated with this company filtered to ensure data quality
          items:
            type: string
        employee_count:
          type: integer
          description: The current integer number of employees working at the company.
        facebook_url:
          type: string
          description: Primary company facebook
        founded:
          type: integer
          description: The founded year of the company
        headline:
          type: string
          description: The company's 'headline' summary
        id:
          type: string
          description: PDL company ID. This is currently non-persistent and generated from the company's primary linkedin username
        industry:
          type: string
          enum:
          - accounting
          - airlines/aviation
          - alternative dispute resolution
          - alternative medicine
          - animation
          - apparel & fashion
          - architecture & planning
          - arts and crafts
          - automotive
          - aviation & aerospace
          - banking
          - biotechnology
          - broadcast media
          - building materials
          - business supplies and equipment
          - capital markets
          - chemicals
          - civic & social organization
          - civil engineering
          - commercial real estate
          - computer & network security
          - computer games
          - computer hardware
          - computer networking
          - computer software
          - construction
          - consumer electronics
          - consumer goods
          - consumer services
          - cosmetics
          - dairy
          - defense & space
          - design
          - e-learning
          - education management
          - electrical/electronic manufacturing
          - entertainment
          - environmental services
          - events services
          - executive office
          - facilities services
          - farming
          - financial services
          - fine art
          - fishery
          - food & beverages
          - food production
          - fund-raising
          - furniture
          - gambling & casinos
          - glass, ceramics, & concrete
          - government administration
          - government relations
          - graphic design
          - health, wellness and fitness
          - higher education
          - hospital & health care
          - hospitality
          - human resources
          - import and export
          - individual & family services
          - industrial automation
          - information services
          - information technology and services
          - insurance
          - international affairs
          - international trade and development
          - internet
          - investment banking
          - investment management
          - judiciary
          - law enforcement
          - law practice
          - legal services
          - legislative office
          - leisure, travel, & tourism
          - libraries
          - logistics and supply chain
          - luxury goods & jewelry
          - machinery
          - management consulting
          - maritime
          - market research
          - marketing and advertising
          - mechanical or industrial engineering
          - media production
          - medical devices
          - medical practice
          - mental health care
          - military
          - mining & metals
          - motion pictures and film
          - museums and institutions
          - music
          - nanotechnology
          - newspapers
          - non-profit organization management
          - oil & energy
          - online media
          - outsourcing/offshoring
          - package/freight delivery
          - packaging and containers
          - paper & forest products
          - performing arts
          - pharmaceuticals
          - philanthropy
          - photography
          - plastics
          - political organization
          - primary/secondary education
          - printing
          - professional training & coaching
          - program development
          - public policy
          - public relations and communications
          - public safety
          - publishing
          - railroad manufacture
          - ranching
          - real estate
          - recreational facilities and services
          - religious institutions
          - renewables & environment
          - research
          - restaurants
          - retail
          - security and investigations
          - semiconductors
          - shipbuilding
          - sporting goods
          - sports
          - staffing and recruiting
          - supermarkets
          - telecommunications
          - textiles
          - think tanks
          - tobacco
          - translation and localization
          - transportation/trucking/railroad
          - utilities
          - venture capital & private equity
          - veterinary
          - warehousing
          - wholesale
          - wine and spirits
          - wireless
          - writing and editing
          description: Self reported industry -- the enum is from linkedin's standard industries
        linkedin_id:
          type: string
          description: Primary company linkedin ID
        linkedin_url:
          type: string
          description: Primary company linkedin url
        location:
          $ref: '#/components/schemas/CompanyLocation'
        name:
          type: string
          description: The company's main common name
        profiles:
          type: array
          description: A list of all profiles associated with the company
          items:
            type: string
        size:
          type: string
          enum:
          - 1-10
          - 11-50
          - 51-200
          - 201-500
          - 501-1000
          - 1001-5000
          - 5001-10000
          - 10001+
          description: A range representing the number of people working at the company
        summary:
          type: string
          description: Company description
        tags:
          type: array
          description: Tags associated with the company
          items:
            type: string
        ticker:
          type: string
          description: Company Ticker, (only for public companies)
        twitter_url:
          type: string
          description: Primary company twitter url
        type:
          type: string
          enum:
          - educational
          - government
          - nonprofit
          - private
          - public
          description: The type of the company
        website:
          type: string
          description: Primary company website
  securitySchemes:
    APIKeyHeader:
      in: header
      name: X-API-Key
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
