openapi: 3.2.0
info:
  description: People Data Labs API
  title: api.peopledatalabs.com Subscription API
  version: '5.0'
servers:
- url: https://api.peopledatalabs.com
- url: http://api.peopledatalabs.com
tags:
- name: Subscription
paths:
  /v5/subscription/{subscription_id}:
    get:
      tags:
      - Subscription
      summary: /subscription/
      description: Retrieves a subscription based on object ID.
      security:
      - APIKeyHeader: []
      parameters:
      - name: subscription_id
        in: path
        description: The ID of the subscription
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: The requested subscription
      operationId: getV5SubscriptionBySubscriptionId
      x-operation-id-source: derived
    delete:
      tags:
      - Subscription
      summary: /v5/subscription/
      description: Deletes a subscription.
      security:
      - APIKeyHeader: []
      parameters:
      - name: subscription_id
        in: path
        description: The ID of the subscription.
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Deleted subscription
      operationId: deleteV5SubscriptionBySubscriptionId
      x-operation-id-source: derived
    put:
      tags:
      - Subscription
      summary: /v5/subscription/
      description: Updates a subscription.
      security:
      - APIKeyHeader: []
      parameters:
      - name: subscription_id
        in: path
        description: The ID of the subscription.
        schema:
          type: string
        required: true
      requestBody:
        description: A subscription object.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: The updated subscription
      operationId: putV5SubscriptionBySubscriptionId
      x-operation-id-source: derived
  /v5/subscription:
    get:
      tags:
      - Subscription
      summary: /v5/subscription
      description: Retrieves a list of subscriptions.
      security:
      - APIKeyHeader: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionResponse'
          description: All existing subscriptions
      operationId: getV5Subscription
      x-operation-id-source: derived
    post:
      tags:
      - Subscription
      summary: /v5/subscription
      description: Creates a new subscription.
      security:
      - APIKeyHeader: []
      requestBody:
        description: A subscription object.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: The created subscription
      operationId: postV5Subscription
      x-operation-id-source: derived
components:
  schemas:
    SubscriptionRequest:
      type: object
      properties:
        event_type:
          type: string
          description: The type of event to subscribe to
        target_url:
          type: string
          format: url
          description: The URL the subscription will be sent to; scheme must be https
          example: https://callbackapi.example.com/endpoint
        headers:
          type: object
          description: Custom headers
          example:
            x-custom-header: very-secure-value
          additionalProperties:
            type: string
        status:
          type: string
          description: The status of the subscription
      required:
      - target_url
      - event_type
      additionalProperties: false
    SubscriptionResponse:
      type: object
      properties:
        event_type:
          type: string
          description: The type of event to subscribe to
        target_url:
          type: string
          format: url
          description: The URL the subscription will be sent to; scheme must be https
          example: https://callbackapi.example.com/endpoint
        headers:
          type: object
          description: Custom headers
          example:
            x-custom-header: very-secure-value
          additionalProperties:
            type: string
        created_timestamp:
          type: string
          format: date-time
          description: The date and time when the subscription was created
        id:
          type: string
          description: The unique identifier of the subscription
        status:
          type: string
          description: The status of the subscription
        last_verified_timestamp:
          type: string
          format: date-time
          description: Timestamp of most recent target URL verification
      required:
      - created_timestamp
      - last_verified_timestamp
      - target_url
      - event_type
      - id
      - status
      additionalProperties: false
  securitySchemes:
    APIKeyHeader:
      in: header
      name: X-API-Key
      type: apiKey
