openapi: 3.0.3
info:
  description: People Data Labs API
  title: api.peopledatalabs.com Autocomplete Job Title Enrichment API
  version: '5.0'
servers:
- url: https://api.peopledatalabs.com
tags:
- name: Job Title Enrichment
paths:
  /v5/job_title/enrich:
    get:
      security:
      - APIKeyHeader: []
      parameters:
      - name: Content-Type
        in: header
        description: The content type
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: job_title
        in: query
        description: Job title that will be enriched
        required: true
        schema:
          type: string
      - name: titlecase
        in: query
        description: Setting to `true` will titlecase any records returned
        schema:
          type: boolean
          default: false
      - name: pretty
        in: query
        description: Whether the output should have human-readable indentation
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Job Title enrich completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
        '400':
          description: Request contained either missing or invalid parameters
        '401':
          description: Request contained a missing or invalid key
        '402':
          description: You have reached your account maximum (all matches used)
        '404':
          description: No records were found matching your request
        '405':
          description: Request method is not allowed on the requested resource
        '429':
          description: An error occurred due to requests hitting the API too quickly
      summary: /job_title/enrich
      tags:
      - Job Title Enrichment
    post:
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_title:
                  type: string
                  description: Job title that will be enriched
                  example: software engineer
                titlecase:
                  type: boolean
                  description: Setting titlecase to true will titlecase any records returned
                  default: false
                pretty:
                  type: boolean
                  description: Whether the output should have human-readable indentation
                  default: false
      responses:
        '200':
          description: Job Title enrich completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
        '400':
          description: Request contained either missing or invalid parameters
        '401':
          description: Request contained a missing or invalid key
        '402':
          description: You have reached your account maximum (all matches used)
        '404':
          description: No records were found matching your request
        '405':
          description: Request method is not allowed on the requested resource
        '429':
          description: An error occurred due to requests hitting the API too quickly
      summary: /job_title/enrich
      tags:
      - Job Title Enrichment
components:
  schemas:
    JobTitle:
      type: object
      properties:
        cleaned_job_title:
          type: string
          example: supply manager
          description: The job title that matches the API input job_title after passing it through our internal job title cleaner.
        similar_job_titles:
          type: array
          items:
            type: string
          example:
          - senior supply manager
          - supply chain manager
          - supply specialist
          - supply supervisor
          - supply coordinator
          description: A list of up to five of the most contextually-similar job titles to the cleaned_job_title, determined using our global resume data.
        'relevant_skills:':
          type: array
          items:
            type: string
          example:
          - supply management
          - spend analysis
          - supplier development
          - demand planning
          - strategic sourcing
          description: A list of up to five of the most contextually-similar skills to the cleaned_job_title, determined using our global resume data.
  securitySchemes:
    APIKeyHeader:
      in: header
      name: X-API-Key
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
