openapi: 3.0.3
info:
  title: People Data Labs Autocomplete Company API
  description: People Data Labs (PDL) provides APIs for enriching and building people and company profiles at scale. The API offers person enrichment, person search, person identification, company enrichment, company search, IP enrichment, and job posting search across a dataset of professional profiles and organizations.
  version: v5
  contact:
    name: People Data Labs Support
    url: https://docs.peopledatalabs.com/docs/support
  license:
    name: People Data Labs Terms of Service
    url: https://www.peopledatalabs.com/terms-of-service
servers:
- url: https://api.peopledatalabs.com/v5
  description: People Data Labs production API
security:
- ApiKeyAuth: []
tags:
- name: Company
  description: Company enrichment and search operations.
paths:
  /company/enrich:
    get:
      tags:
      - Company
      summary: Enrich a company profile
      description: Returns an enriched company profile based on identifiers such as website, name, or LinkedIn profile.
      parameters:
      - name: name
        in: query
        schema:
          type: string
      - name: website
        in: query
        schema:
          type: string
      - name: profile
        in: query
        schema:
          type: string
      - name: ticker
        in: query
        schema:
          type: string
      - name: location
        in: query
        schema:
          type: string
      responses:
        '200':
          description: An enriched company record.
  /company/search:
    get:
      tags:
      - Company
      summary: Search for companies
      description: Returns multiple company profiles matching an SQL or Elasticsearch query.
      parameters:
      - name: sql
        in: query
        schema:
          type: string
      - name: query
        in: query
        schema:
          type: string
      - name: size
        in: query
        schema:
          type: integer
          default: 1
          maximum: 100
      responses:
        '200':
          description: A list of matching company profiles.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
