openapi: 3.0.3
info:
  description: People Data Labs API
  title: api.peopledatalabs.com Autocomplete IP Enrichment API
  version: '5.0'
servers:
- url: https://api.peopledatalabs.com
tags:
- name: IP Enrichment
paths:
  /v5/ip/enrich:
    get:
      security:
      - APIKeyHeader: []
      parameters:
      - name: Content-Type
        in: header
        description: The content type
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: ip
        in: query
        description: IP that will be enriched.
        required: true
        schema:
          type: string
      - name: return_ip_location
        in: query
        description: IP responses will not include location data for the IP by default.  Setting to `true` will return IP specific location info.
        schema:
          type: boolean
          default: false
      - name: return_ip_metadata
        in: query
        description: IP responses will not include metadata for the IP by default.  Setting to `true` will return IP specific metadata.
        schema:
          type: boolean
          default: false
      - name: return_person
        in: query
        description: Setting to `true` will return person fields associated with the IP.
        schema:
          type: boolean
          default: false
      - name: return_if_unmatched
        in: query
        description: Setting to `true` will return IP specific metadata or location data regardless of a company match.
        schema:
          type: boolean
          default: false
      - name: titlecase
        in: query
        description: Setting to `true` will titlecase any records returned.
        schema:
          type: boolean
          default: false
      - name: pretty
        in: query
        description: Whether the output should have human-readable indentation.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: IP enrich completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IP'
        '400':
          description: Request contained either missing or invalid parameters
        '401':
          description: Request contained a missing or invalid key
        '402':
          description: You have reached your account maximum (all matches used)
        '404':
          description: No records were found matching your request
        '405':
          description: Request method is not allowed on the requested resource
        '429':
          description: An error occurred due to requests hitting the API too quickly
      summary: /ip/enrich
      tags:
      - IP Enrichment
components:
  schemas:
    CompanyLocation:
      type: object
      properties:
        geo:
          type: string
          description: The company's current HQ city-level Geo
        street_address:
          type: string
          description: The company's current HQ street address
        address_line_2:
          type: string
          description: The company's current HQ address line 2
        continent:
          type: string
          enum:
          - africa
          - antarctica
          - asia
          - europe
          - north america
          - oceania
          - south america
          description: The company's current HQ continent
        locality:
          type: string
          description: The company's current HQ locality
        metro:
          type: string
          enum:
          - abilene, texas
          - akron, ohio
          - albany, georgia
          - albany, new york
          - albany, oregon
          - albuquerque, new mexico
          - alexandria, louisiana
          - allentown, pennsylvania
          - altoona, pennsylvania
          - amarillo, texas
          - ames, iowa
          - anchorage, alaska
          - ann arbor, michigan
          - anniston, alabama
          - appleton, wisconsin
          - asheville, north carolina
          - athens, georgia
          - atlanta, georgia
          - atlantic city, new jersey
          - auburn, alabama
          - augusta, georgia
          - austin, texas
          - bakersfield, california
          - baltimore, maryland
          - bangor, maine
          - barnstable town, massachusetts
          - baton rouge, louisiana
          - battle creek, michigan
          - bay city, michigan
          - beaumont, texas
          - bellingham, washington
          - billings, montana
          - binghamton, new york
          - birmingham, alabama
          - bismarck, north dakota
          - blacksburg, virginia
          - bloomington, illinois
          - bloomington, indiana
          - boise city, idaho
          - boston, massachusetts
          - boulder, colorado
          - bowling green, kentucky
          - bremerton, washington
          - bridgeport, connecticut
          - brownsville, texas
          - buffalo, new york
          - burlington, north carolina
          - burlington, vermont
          - canton, ohio
          - cape coral, florida
          - cape girardeau, missouri
          - carbondale, illinois
          - carson city, nevada
          - casper, wyoming
          - cedar rapids, iowa
          - champaign, illinois
          - charleston, south carolina
          - charleston, west virginia
          - charlotte, north carolina
          - charlottesville, virginia
          - chattanooga, tennessee
          - cheyenne, wyoming
          - chicago, illinois
          - chico, california
          - cincinnati, ohio
          - clarksville, tennessee
          - cleveland, ohio
          - cleveland, tennessee
          - coeur d'alene, idaho
          - college station, texas
          - colorado springs, colorado
          - columbia, missouri
          - columbia, south carolina
          - columbus, georgia
          - columbus, indiana
          - columbus, ohio
          - corpus christi, texas
          - corvallis, oregon
          - crestview, florida
          - cumberland, maryland
          - dallas, texas
          - dalton, georgia
          - danville, illinois
          - davenport, iowa
          - dayton, ohio
          - decatur, alabama
          - decatur, illinois
          - deltona, florida
          - denver, colorado
          - des moines, iowa
          - detroit, michigan
          - district of columbia
          - dothan, alabama
          - dover, delaware
          - dubuque, iowa
          - duluth, minnesota
          - durham, north carolina
          - eau claire, wisconsin
          - el centro, california
          - el paso, texas
          - elizabethtown, kentucky
          - elkhart, indiana
          - elmira, new york
          - enid, oklahoma
          - erie, pennsylvania
          - eugene, oregon
          - evansville, indiana
          - fairbanks, alaska
          - fargo, north dakota
          - farmington, new mexico
          - fayetteville, arkansas
          - fayetteville, north carolina
          - flagstaff, arizona
          - flint, michigan
          - florence, alabama
          - florence, south carolina
          - fond du lac, wisconsin
          - fort collins, colorado
          - fort smith, arkansas
          - fort wayne, indiana
          - fresno, california
          - gadsden, alabama
          - gainesville, florida
          - gainesville, georgia
          - goldsboro, north carolina
          - grand forks, north dakota
          - grand island, nebraska
          - grand junction, colorado
          - grand rapids, michigan
          - grants pass, oregon
          - great falls, montana
          - greeley, colorado
          - green bay, wisconsin
          - greensboro, north carolina
          - greenville, north carolina
          - greenville, south carolina
          - gulfport, mississippi
          - hagerstown, maryland
          - hanford, california
          - harrisburg, pennsylvania
          - harrisonburg, virginia
          - hartford, connecticut
          - hattiesburg, mississippi
          - hickory, north carolina
          - hilton head island, south carolina
          - hinesville, georgia
          - hot springs, arkansas
          - houma, louisiana
          - houston, texas
          - huntington, west virginia
          - huntsville, alabama
          - idaho falls, idaho
          - indianapolis, indiana
          - iowa city, iowa
          - ithaca, new york
          - jackson, michigan
          - jackson, mississippi
          - jackson, tennessee
          - jacksonville, florida
          - jacksonville, north carolina
          - janesville, wisconsin
          - jefferson city, missouri
          - johnson city, tennessee
          - johnstown, pennsylvania
          - jonesboro, arkansas
          - joplin, missouri
          - kahului, hawaii
          - kalamazoo, michigan
          - kankakee, illinois
          - kansas city, missouri
          - kennewick, washington
          - killeen, texas
          - kingsport, tennessee
          - kingston, new york
          - knoxville, tennessee
          - kokomo, indiana
          - la crosse, wisconsin
          - lafayette, indiana
          - lafayette, louisiana
          - lake charles, louisiana
          - lake havasu city, arizona
          - lakeland, florida
          - lancaster, pennsylvania
          - lansing, michigan
          - laredo, texas
          - las cruces, new mexico
          - las vegas, nevada
          - lawrence, kansas
          - lawton, oklahoma
          - lebanon, pennsylvania
          - lewiston, idaho
          - lewiston, maine
          - lexington, kentucky
          - lima, ohio
          - lincoln, nebraska
          - little rock, arkansas
          - logan, utah
          - longview, texas
          - longview, washington
          - los angeles, california
          - louisville, kentucky
          - lubbock, texas
          - lynchburg, virginia
          - macon, georgia
          - madera, california
          - madison, wisconsin
          - manchester, new hampshire
          - manhattan, kansas
          - mankato, minnesota
          - mansfield, ohio
          - mcallen, texas
          - medford, oregon
          - memphis, tennessee
          - merced, california
          - miami, florida
          - michigan city, indiana
          - midland, michigan
          - midland, texas
          - milwaukee, wisconsin
          - minneapolis, minnesota
          - missoula, montana
          - mobile, alabama
          - modesto, california
          - monroe, louisiana
          - monroe, michigan
          - montgomery, alabama
          - morgantown, west virginia
          - morristown, tennessee
          - mount vernon, washington
          - muncie, indiana
          - muskegon, michigan
          - myrtle beach, south carolina
          - napa, california
          - naples, florida
          - nashville, tennessee
          - new bern, north carolina
          - new haven, connecticut
          - new orleans, louisiana
          - new york, new york
          - north port, florida
          - norwich, connecticut
          - ocala, florida
          - odessa, texas
          - ogden, utah
          - oklahoma city, oklahoma
          - olympia, washington
          - omaha, nebraska
          - orlando, florida
          - oshkosh, wisconsin
          - owensboro, kentucky
          - oxnard, california
          - palm bay, florida
          - panama city, florida
          - parkersburg, west virginia
          - pensacola, florida
          - peoria, illinois
          - philadelphia, pennsylvania
          - phoenix, arizona
          - pine bluff, arkansas
          - pittsburgh, pennsylvania
          - pittsfield, massachusetts
          - pocatello, idaho
          - port st. lucie, florida
          - portland, maine
          - portland, oregon
          - poughkeepsie, new york
          - prescott valley, arizona
          - providence, rhode island
          - provo, utah
          - pueblo, colorado
          - punta gorda, florida
          - racine, wisconsin
          - raleigh, north carolina
          - rapid city, south dakota
          - reading, pennsylvania
          - redding, california
          - reno, nevada
          - richmond, virginia
          - riverside, california
          - roanoke, virginia
          - rochester, minnesota
          - rochester, new york
          - rockford, illinois
          - rocky mount, north carolina
          - rome, georgia
          - sacramento, california
          - saginaw, michigan
          - salem, oregon
          - salinas, california
          - salisbury, maryland
          - salt lake city, utah
          - san angelo, texas
          - san antonio, texas
          - san diego, california
          - san francisco, california
          - san jose, california
          - san luis obispo, california
          - santa cruz, california
          - santa fe, new mexico
          - santa maria, california
          - santa rosa, california
          - savannah, georgia
          - scranton, pennsylvania
          - seattle, washington
          - sebastian, florida
          - sheboygan, wisconsin
          - sherman, texas
          - shreveport, louisiana
          - sierra vista, arizona
          - sioux city, iowa
          - sioux falls, south dakota
          - south bend, indiana
          - spartanburg, south carolina
          - spokane, washington
          - springfield, illinois
          - springfield, massachusetts
          - springfield, missouri
          - springfield, ohio
          - st. cloud, minnesota
          - st. george, utah
          - st. joseph, missouri
          - st. louis, missouri
          - state college, pennsylvania
          - staunton, virginia
          - stockton, california
          - sumter, south carolina
          - syracuse, new york
          - tallahassee, florida
          - tampa, florida
          - terre haute, indiana
          - texarkana, texas
          - toledo, ohio
          - topeka, kansas
          - trenton, new jersey
          - tucson, arizona
          - tulsa, oklahoma
          - tuscaloosa, alabama
          - twin falls, idaho
          - tyler, texas
          - urban honolulu, hawaii
          - utica, new york
          - valdosta, georgia
          - vallejo, california
          - victoria, texas
          - vineland, new jersey
          - virginia beach, virginia
          - visalia, california
          - waco, texas
          - walla walla, washington
          - warner robins, georgia
          - waterloo, iowa
          - watertown, new york
          - wausau, wisconsin
          - weirton, west virginia
          - wenatchee, washington
          - wheeling, west virginia
          - wichita falls, texas
          - wichita, kansas
          - williamsport, pennsylvania
          - wilmington, north carolina
          - winchester, virginia
          - worcester, massachusetts
          - yakima, washington
          - york, pennsylvania
          - youngstown, ohio
          - yuba city, california
          - yuma, arizona
          description: The company's current HQ metro (US only)
        postal_code:
          type: string
          description: The company's current HQ postal code
        name:
          type: string
          description: The company's current HQ location name, generated from our canonical location data with the format locality, region, country
        country:
          type: string
          enum:
          - afghanistan
          - albania
          - algeria
          - american samoa
          - andorra
          - angola
          - anguilla
          - antarctica
          - antigua and barbuda
          - argentina
          - armenia
          - aruba
          - australia
          - austria
          - azerbaijan
          - bahamas
          - bahrain
          - bangladesh
          - barbados
          - belarus
          - belgium
          - belize
          - benin
          - bermuda
          - bhutan
          - bolivia
          - bosnia and herzegovina
          - botswana
          - bouvet island
          - brazil
          - british indian ocean territory
          - british virgin islands
          - brunei
          - bulgaria
          - burkina faso
          - burundi
          - cambodia
          - cameroon
          - canada
          - cape verde
          - caribbean netherlands
          - cayman islands
          - central african republic
          - chad
          - chile
          - china
          - christmas island
          - cocos (keeling) islands
          - colombia
          - comoros
          - cook islands
          - costa rica
          - croatia
          - cuba
          - curaçao
          - cyprus
          - czechia
          - democratic republic of the congo
          - denmark
          - djibouti
          - dominica
          - dominican republic
          - ecuador
          - egypt
          - el salvador
          - equatorial guinea
          - eritrea
          - estonia
          - ethiopia
          - falkland islands
          - faroe islands
          - fiji
          - finland
          - france
          - french guiana
          - french polynesia
          - french southern territories
          - gabon
          - gambia
          - georgia
          - germany
          - ghana
          - gibraltar
          - greece
          - greenland
          - grenada
          - guadeloupe
          - guam
          - guatemala
          - guernsey
          - guinea
          - guinea-bissau
          - guyana
          - haiti
          - heard island and mcdonald islands
          - honduras
          - hong kong
          - hungary
          - iceland
          - india
          - indonesia
          - iran
          - iraq
          - ireland
          - isle of man
          - israel
          - italy
          - ivory coast
          - jamaica
          - japan
          - jersey
          - jordan
          - kazakhstan
          - kenya
          - kiribati
          - kosovo
          - kuwait
          - kyrgyzstan
          - laos
          - latvia
          - lebanon
          - lesotho
          - liberia
          - libya
          - liechtenstein
          - lithuania
          - luxembourg
          - macau
          - macedonia
          - madagascar
          - malawi
          - malaysia
          - maldives
          - mali
          - malta
          - marshall islands
          - martinique
          - mauritania
          - mauritius
          - mayotte
          - mexico
          - micronesia
          - moldova
          - monaco
          - mongolia
          - montenegro
          - montserrat
          - morocco
          - mozambique
          - myanmar
          - namibia
          - nauru
          - nepal
          - netherlands
          - netherlands antilles
          - new caledonia
          - new zealand
          - nicaragua
          - niger
          - nigeria
          - niue
          - norfolk island
          - north korea
          - northern mariana islands
          - norway
          - oman
          - pakistan
          - palau
          - palestine
          - panama
          - papua new guinea
          - paraguay
          - peru
          - philippines
          - pitcairn
          - poland
          - portugal
          - puerto rico
          - qatar
          - republic of the congo
          - romania
          - russia
          - rwanda
          - réunion
          - saint barthélemy
          - saint helena
          - saint kitts and nevis
          - saint lucia
          - saint martin
          - saint pierre and miquelon
          - saint vincent and the grenadines
          - samoa
          - san marino
          - saudi arabia
          - senegal
          - serbia
          - seychelles
          - sierra leone
          - singapore
          - sint maarten
          - slovakia
          - slovenia
          - solomon islands
          - somalia
          - south africa
          - south georgia and the south sandwich islands
          - south korea
          - south sudan
          - spain
          - sri lanka
          - sudan
          - suriname
          - svalbard and jan mayen
          - swaziland
          - sweden
          - switzerland
          - syria
          - são tomé and príncipe
          - taiwan
          - tajikistan
          - tanzania
          - thailand
          - timor-leste
          - togo
          - tokelau
          - tonga
          - trinidad and tobago
          - tunisia
          - turkey
          - turkmenistan
          - turks and caicos islands
          - tuvalu
          - u.s. virgin islands
          - uganda
          - ukraine
          - united arab emirates
          - united kingdom
          - united states
          - united states minor outlying islands
          - uruguay
          - uzbekistan
          - vanuatu
          - vatican city
          - venezuela
          - vietnam
          - wallis and futuna
          - western sahara
          - yemen
          - zambia
          - zimbabwe
          - åland islands
          description: "The company's current HQ country\tunited states"
        region:
          type: string
          description: The company's current HQ region
    IP:
      type: object
      properties:
        status:
          type: integer
          enum:
          - 200
          - 400
          - 401
          - 402
          - 404
          - 405
          - 429
          description: The return status code for IP Enrichment
        data:
          type: object
          description: The information about the IP address from the ip input parameter.
          properties:
            ip:
              type: object
              description: Information related to the IP address.
              properties:
                address:
                  type: string
                  description: The matched IP address.
                metadata:
                  type: object
                  description: Premium fields targeted towards identifying IPs as mobile or using hosting, proxy, Tor, VPN, relay or other services.
                  properties:
                    version:
                      type: integer
                      enum:
                      - 4
                      - 6
                      description: The type of IP Address (IPv4 or IPv6).
                    mobile:
                      type: boolean
                      description: If the IP is a known mobile address.
                    hosting:
                      type: boolean
                      description: If the IP is a known hosting address.
                    proxy:
                      type: boolean
                      description: If the IP is a known proxy address.
                    tor:
                      type: boolean
                      description: If the IP is a known Tor address.
                    vpn:
                      type: boolean
                      description: If the IP is a known VPN address.
                    relay:
                      type: boolean
                      description: If the IP is a known relay address.
                    service:
                      type: string
                      description: If known, the name of the service for the address.
                    asn_domain:
                      type: string
                      description: The domain associated with the ASN block.
                location:
                  type: object
                  description: The location associated with the IP address.
                  $ref: '#/components/schemas/CompanyLocation'
            company:
              type: object
              description: Information related to the company associated with the IP address.
              properties:
                confidence:
                  type: string
                  enum:
                  - very high
                  - high
                  - moderate
                  - low
                  - very low
                  description: How confident we are that the returned company is associated with requested IP.
                id:
                  type: string
                  description: The PDL ID of the company associated with the IP address.
                website:
                  type: string
                  description: The primary website of the company associated with the IP address.
                name:
                  type: string
                  description: The name of the company associated with the IP address.
                location:
                  type: object
                  description: The location of the company's primary HQ associated with the IP address.
                  $ref: '#/components/schemas/CompanyLocation'
                size:
                  type: string
                  enum:
                  - 1-10
                  - 11-50
                  - 51-200
                  - 201-500
                  - 501-1000
                  - 1001-5000
                  - 5001-10000
                  - 10001+
                  description: The self-reported size range of the company associated with the IP address.
                industry:
                  type: string
                  description: The self-reported industry of the company associated with the IP address.
                inferred_revenue:
                  type: string
                  description: The estimated annual revenue (in USD) of the company associated with the IP address.
                employee_count:
                  type: integer
                  description: The current number of employees working at the company associated with the IP address.
                tags:
                  type: array
                  description: Tags associated with the company associated with the IP address.
                  items:
                    type: string
            person:
              type: object
              description: Information related to the person associated with the IP address.
              properties:
                confidence:
                  type: string
                  enum:
                  - very high
                  - high
                  - moderate
                  - low
                  - very low
                  description: How confident we are that the returned person is associated with requested IP.
                job_title_role:
                  type: string
                  enum:
                  - customer_service
                  - design
                  - education
                  - engineering
                  - finance
                  - health
                  - human_resources
                  - legal
                  - marketing
                  - media
                  - operations
                  - public_relations
                  - real_estate
                  - sales
                  - trades
                  description: A person's current job title derived role
                job_title_sub_role:
                  type: string
                  enum:
                  - accounting
                  - accounts
                  - brand_marketing
                  - broadcasting
                  - business_development
                  - compensation
                  - content_marketing
                  - customer_success
                  - data
                  - dental
                  - devops
                  - doctor
                  - editorial
                  - education_administration
                  - electrical
                  - employee_development
                  - events
                  - fitness
                  - graphic_design
                  - information_technology
                  - investment
                  - journalism
                  - judicial
                  - lawyer
                  - logistics
                  - mechanical
                  - media_relations
                  - network
                  - nursing
                  - office_management
                  - paralegal
                  - pipeline
                  - product
                  - product_design
                  - product_marketing
                  - professor
                  - project_engineering
                  - project_management
                  - property_management
                  - quality_assurance
                  - realtor
                  - recruiting
                  - researcher
                  - security
                  - software
                  - support
                  - systems
                  - tax
                  - teacher
                  - therapy
                  - video
                  - web
                  - web_design
                  - wellness
                  - writing
                  description: A person's job title derived subrole. Each subrole maps to a role
                job_title_levels:
                  type: string
                  enum:
                  - unpaid
                  - training
                  - entry
                  - manager
                  - senior
                  - partner
                  - director
                  - vp
                  - owner
                  - cxo
                  description: A person's current job title derived levels
  securitySchemes:
    APIKeyHeader:
      in: header
      name: X-API-Key
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
